<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="w-full bg-zinc-800 flex-col items-center justify-center h-screen flex">

        <div id="turnIndicator">Waiting for players...</div>

        <div id="gameOverModal"
            class="game-over hidden">
            <div class="game-over-box">
                <h1 id="gameOverText">Game Over</h1>
            </div>
        </div>

        <div>
            <div class="chessboard mt-10"></div>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.3/chess.min.js"
        integrity="sha512-xRllwz2gdZciIB+AkEbeq+gVhX8VB8XsfqeFbUh+SzHlN96dEduwtTuVuc2u9EROlmW9+yhRlxjif66ORpsgVA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/javascripts/chessgame.js"></script>
</body>

</html>